@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
body {
    font-family: 'Poppins', sans-serif;
    background: #1B2430;
    background: rgb(15 22 30);
}

a {
    font-family: 'Sono', sans-serif;
    text-decoration: none;
    color: #ededed;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 30px;
}

/* Header */
header {
    background: #2D4356;
    background: #27374D;
    padding: 5px;
    margin-bottom: 40px;
}

header .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #DDE6ED;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}

header img {
    margin-right: 20px;
    max-height: 60px;
}

/* Blog List */
.blog-list ul {
    list-style: none;
}

.blog-list ul li:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px; 
    border-bottom: 1px solid rgba(255, 224, 186, 0.6);
}

.blog-list ul li:hover {
    border-bottom: 2px solid #444;
}

.blog-list ul li:hover img {
    opacity: 0.6;
}

.blog-list ul li .blog-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 180px;
    gap: 10px;
}

.blog-info {
    flex: 1 1 0%;
}
.hero-image {
    max-width: 300px;
}

.hero-image img {
    border-radius: 5px;
    min-width: 100%;
    height: 100%;
    width: 300px;
    min-height: 0;
}

.blog-info h2, .blog-info h4 {
    font-family: 'Poppins', sans-serif;
}

.blog-info-title {
    /* Yellow : color: #d68f38; */
    color: #bc7c70;

}
.blog-info-date {
    opacity: .8;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.tag-list {
    margin-bottom: .5rem;
    font-size: 1.25rem;
}

/* Post */
.post {
    font-family: 'Poppins', sans-serif;
    color: #DDE6ED;
}

.post h1 {
    font-size: 3rem;
}

.post-hero {
    margin: 20px auto;
    margin-bottom: 5px;
    overflow: hidden;
}

.post-hero img {
    border-radius: 5px;
    max-height: 400px;
    width: 100%;
}

.post-metadata {
    width: 50%;
    display: flex;
    justify-content: space-between;
    opacity: .8;
}

.post-content {
    margin-top: 25px;
    padding-bottom: 30px;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.5;
}

.post {
    max-width: 68rem;
    margin: auto;
    padding: 0 30px;
}
.inline-code {
    color: #f9fafb;
    background: #374151;
    padding: .25rem .375rem;
    border-radius: .25rem;
}

.post-content {
    font-size: 1rem;
}

.block-code {
    background: #192533 !important;
    border-radius: .5rem;
    margin-bottom: 1rem !important;
    font-size: 0.9rem !important;
}

.post-content ul {
    padding-left: 1.625em;
}

.post-content li {
    margin-top: .5em;
    margin-bottom: .5em;
}

.post-content li::marker {
    color: #374151;
}

.post-content table {
    table-layout: fixed;
    margin-bottom: 2rem;
    width: 100%;
}

.post-content thead {
    font-weight: bold;
    text-align: left;
}

.post-content table tr {
    display: flex;
    gap: 10px;
}
.post-content table tr:not(:last-child) {
    border-bottom: 1px solid #374151;
}

.post-content td, .post-content th {
    width: 25%;
    padding: .5rem;
}
.post-content p {
    margin-bottom: 1.25em;
}

.post-content h2 {
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/* Global */
svg {
    color: #54647d;
    width: 1.5rem;
    background: none;
}

button.icon {
    color: red;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
/* Code */
.code {
    position: relative;
}
.code .copy-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 5;
}

/* Tags */
.post-tag {
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    color: #f9fafb;
    padding: .25rem .375rem;
    margin-right: .25rem;
}

.filter-tag {
    cursor: pointer;
}

.selected-tag {
    border-radius: 0.25rem;
    background: #374151;
}

.unselected-tag {
    opacity: 0.6;
}

.post-tag-text {
    border-bottom: 1px solid #374151;
}

.post-tag-hash {
    margin-right: 2px;
    color: #bc7c70;
}
