.layout {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  .layout .info_page {
    color: #ebebeb;
  }
  .content {
    flex-grow: 1;
  }
  @media (min-width: 768px) {
    .content {
      flex-grow: none;
      width: 70vw;
      margin-left: 30vw;
    }
  }
